PORT=3000
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/pos_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="your_access_token_secret_key"
JWT_REFRESH_SECRET="your_refresh_token_secret_key"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
